body {
    width: 100%;
    height: 100%;
    background-color: #65b869;
    color: white;
    font-family: 'Barlow Condensed', sans-serif;
    margin: 0px;
    overflow-x: hidden;
}
.content{
    height: 100%;
}
.clock {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    font-size: 20vw;
}
.day {
    display: flex;
    justify-content: center;
    font-size: 5vw;
    padding-top: 5%;
}
.date {
    display: flex;
    justify-content: center;
    font-size: 3vw;
}
.header {
    display: flex;
    height: 8vh;
    width: 100%;
    background-color: rgba(159,168,168, 0.2);
    padding-top: 1%;
    padding-bottom: 1%;
    padding-left: 5%;
    padding-right: 5%;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}
.links {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    list-style-type: none;
    margin: 0;
}
.githubLogo {
    height: 32px;
    justify-content: flex-end;
}
.settings {
    list-style-type: none;
    display: flex;
    width: 100%;
    margin: 0;
    padding-left: 0;
}
.float-right {
    justify-content: flex-end;
}
.footer{
    position: absolute;
    bottom: 0;
    text-align: center;
    width: 100%;
    height: 35px;
}
.footerName {
    height: inherit;
    display: flex;
    justify-content: center;
    align-self: center;
    opacity: 0.5;
}
.headerButton{
    justify-content: space-between;
    margin-left: 1%;
    margin-right: 1%;
    width: 100%;
    border-width: 0;
    border-radius: 2px;
    background-color: rgba(159, 168, 168, 0.5); 
}
.dropdown-content{
    display: none;
    position: absolute;
    top: 6vh;
    left: 6%;
    background-color: rgba(159, 168, 168, 0.801);
    width: 18%;
    padding-left: 2%;
    padding-right: 2%;
    padding-bottom: 1%;
    text-align: center;
}
.show{
    display: block;
}
.noshow{
    display: none;
}
.dropdownButtons{
    border-radius: 2px;
    border-width: 0;
    width: 100%;
}
.settingsIcon{
    width: 32px;
}
.timeFormatLabelContainer{
    display: flex;
    justify-content: space-around;
}
.timeFormatButtonContainer{
    display: flex;
    justify-content: space-around;
    padding-bottom: 10%;
}
.barButtonCont {
    display: flex;
    justify-content: center;
    align-self: center;
}
#settingsBarButton {
    background-color: transparent;
    border: 0;
    font-size: 30px;
    color: #ffffff;
}