/* Menu button class */
.btn-group .button {
    background-color: rgb(0, 0, 0);
    border: 1px solid rgb(255, 0, 0);
    color: rgb(255, 0, 0);
    padding: 0.1vw 0.1vh;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 0.6vw;
    cursor: pointer;
    height: 6%;
    width: 6%;
    display: block;
    opacity: 0.3;
    position: relative;
    top: 1%;
    left: -47%;
    margin: 0 auto;
}

/* Prevent double borders */
.btn-group .button:not(:last-child) {
    border-bottom: none;
}

/* Menu button hover effect */
.btn-group .button:hover {
    background-color: #000000;
    color: rgb(255, 0, 0);
    text-shadow: 0px 0px 15px rgb(255, 0, 0);
    opacity: 1;    
}

.menuHide {
    background-color: #000; 
    color: rgb(0, 0, 0); 
    border: 1px solid rgb(51, 7, 7);
    text-shadow: 0px 0px 10px red;
    opacity: 0.8;

}

.menuHide:hover {
    background-color: black;
    color: red;
    border: 1px solid rgb(255, 0, 0);
    text-shadow: 0px 0px 20px rgb(255, 0, 0);
    opacity: 1;
}