/*#p1 {
    position: left;
    background-color:rgb(0, 0, 0); opacity:0.8;
    position: fixed;
    text-align: center;
    top: 5px;
    left: 5px;
}*/
/*
txtshadow {
    text-shadow: 0px 0px 5px red;  
}
*/
/*.button {
    background-color: #4CAF50; /* Green *//*
    border: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;

    -webkit-transition-duration: 1s; /* Safari *//*
    transition-duration: 1s;
    cursor: pointer;
    position: fixed;
    top: 1%;
    left: 5%;
    transform: translate(-50%, -50%);
}*/

/* Menu button class */
.btn-group .button {
    background-color: rgb(0, 0, 0);
    border: 1px solid rgb(255, 0, 0);
    color: rgb(255, 0, 0);
    padding: 0.1vw 0.1vh;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 0.6vw;
    cursor: pointer;
    height: 6%;
    width: 6%;
    display: block;
    opacity: 0.3;
    position: relative;
    top: 1%;
    left: -47%;
    margin: 0 auto;
}

/* Prevent double borders */
.btn-group .button:not(:last-child) {
    border-bottom: none;
}

/* Menu button hover effect */
.btn-group .button:hover {
    background-color: #000000;
    color: rgb(255, 0, 0);
    text-shadow: 0px 0px 15px rgb(255, 0, 0);
    opacity: 1;    
}
/*
.button1 {
    background-color: #000; 
    color: black; 
    border: 2px solid rgb(255, 3, 3);
    text-shadow: 0px 0px 20px red;

}
*/

/*.button1:hover {
    background-color: black;
    color: red;
    text-shadow: 0px 0px 30px blue;
}*/