body {
    background: url(https://cdn.pixabay.com/photo/2017/07/31/21/45/sea-2561397_1280.jpg) center center fixed;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#info {
    color: white;
}
#weekday {
    position: fixed;
    left: 43.0vw;
    top: 25.0vh;
    font-size: 8.0vh;
}
#month {
    position: fixed;
    left: 43.0vw;
    top: 45.0vh;
    font-size: 8.0vh;
}
#clock {
    position: fixed;
    left: 43.0vw;
    top: 35.0vh;
    font-size: 8.0vh;
}

#redButton {
    background-color: red;
    width: 20px;
    height: 20px;
}
#blueButton {
    background-color: blue;
    width: 20px;
    height: 20px;
}
#greenButton {
    background-color: green;
    width: 20px;
    height: 20px;
}
#yellowButton {
    background-color: yellow;
    width: 20px;
    height: 20px;
}
#whiteButton {
    background-color: white;
    width: 20px;
    height: 20px;
}
#blackButton {
    background-color: black;
    width: 20px;
    height: 20px;
}
#colors {
    display: none;
    position: fixed;
    left: 7.0vw;
    top: 4.0vh;
}
#colorButton {
    position: fixed;
    left: 6.0vw;
    top: 1.1vh;
}

#picButton {
    position: fixed;
    left: 1.0vw;
    top: 1.1vh;
}
#pictures {
    display: none;
    position: fixed;
    left: 2.0vw;
    top: 4.0vh;
}
#picOne {
    background-color: red;
    width: 20px;
    height: 20px;
}
#picTwo {
    background-color: blue;
    width: 20px;
    height: 20px;
}
#picThree {
    background-color: green;
    width: 20px;
    height: 20px;
}