	#clock {
		position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 96px;

	}
  #day{
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -60%);
    font-size: 36px;
  }
  #date{
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -40%);
    font-size: 36px;
  }