body{
    background-color: #000;
    text-align: center;    
    font-family: 'Arial', sans-serif;
    /*placement of the background image*/
    background-image: url("pennywiseeyes.png");  
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}

/*div{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0 auto;
}
*/

.date1{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0 auto;
    color: black;
    text-align: center;
    font-size: 3vw;    
    text-shadow: 0px 0px 20px rgb(255, 0, 0);
}

.clockClass{
    position: fixed;
    top: 65%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0 auto;
    color: black;
    text-align: center;
    font-size: 6vw;
    text-shadow: 0px 0px 20px rgb(255, 0, 0);
    animation:pulsateRed 1s ease infinite;
    animation:pulsateRed 1s ease infinite;
}

/* Red pulsating clock effect */
@keyframes pulsateRed
{
0% {opacity:1; text-shadow:0 0 20px rgb(255, 0, 0);}
50% {opacity:1; text-shadow:0 0 30px; }
100% {opacity:1; text-shadow:0 0 40px rgb(255, 0, 0);}	
}

/* Green pulsating clock effect */
@keyframes pulsateGreen
{
0% {opacity:1.0; text-shadow:0 0 20px rgb(0, 255, 0);}
50% {opacity:1.0; text-shadow:0 0 30px; }
100% {opacity:1.0; text-shadow:0 0 40px rgb(0, 255, 0);}	
}

/* Blue pulsating clock effect */
@keyframes pulsateBlue
{
0% {opacity:1.0; text-shadow:0 0 20px rgb(0, 0, 255);}
50% {opacity:1.0; text-shadow:0 0 30px; }
100% {opacity:1.0; text-shadow:0 0 40px rgb(0, 0, 255);}	
}

/* White pulsating clock effect */
@keyframes pulsateWhite
{
0% {opacity:1.0; text-shadow:0 0 20px rgb(255, 255, 255);}
50% {opacity:1.0; text-shadow:0 0 30px; }
100% {opacity:1.0; text-shadow:0 0 40px rgb(255, 255, 255);}	
}

