body
{
margin-top: 300px;
text-align: center;
font-family: courier;
}

#clock 
{
font-size: 100px;
font-wight: 300;
}

#date
{
font-size: 70px;
}

#demo
{
font-size: 50px;
color: White;
}
