body {
        font-family: 'Lato';
        margin-top: 5%;
        text-align: center;
        color: #fff;
    }
header {
    transition: color 2s, font-size 2s;
}
header:hover {
    color: #fff;
    font-size: 55px;
}
#hex-color, #back-color {
    font-style: oblique;
    transition: font-size 2s, color 1s;
    }

#hex-color:hover, #back-color:hover{
    color: #fff;
    font-size: 55px;
}

#footer:hover{
    color: #fff;
    font-size: 55px;
}

#clock, #dayDate {
        font-weight: 300;
        font-size: 100px;

        /*Erinevate browserite transition-id, aga hetkel toimib ka ilma.
        -webkit-transition: color 2s, font-size 2s;
        -moz-transition: color 2s, font-size 2s;
        -o-transition: color 2s, font-size 2s;*/
        
        transition: color 2s, font-size 2s;
    }
#clock:hover, #dayDate:hover {
    font-size: 110px;
    color: #fff
}


